.product {
  width: 300px;
  padding: 1rem;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product img {
  height: 170px;
  border-radius: 15px;
}

.product__info p {
  margin-bottom: 8px;
}
.info__price {
  font-weight: bold;
}
.info__name {
  margin-top: 8px;
  font-size: 1rem;
  overflow: hidden;
}
.info__description {
  font-size: 0.8rem;
}
.info__button {
  display: block;
  width: 100%;
  text-align: center;

  padding: 8px 16px;
  font-size: 1rem;
}
